@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="/Web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restaurantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="/Web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="/Web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Ypılacak Şeyler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="/Web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araç Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider">
                            <ul class="rslides" id="slider1">

                                @foreach (var item in Model)
                                {
                                    <li><img src="@item.BlogImage" style="width: 540px; height: 360px;" alt=""></li>
                                }

                                @*<li><img src="/Web/images/img2.jpg" alt=""></li>
        <li><img src="/Web/images/img3.jpg" alt=""></li>
        <li><img src="/Web/images/img4.jpg" alt=""></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Ttil Seyahat Bloğuma Hoşgeldiniz!</h3>
                    <p>Bu projeyi yaparak hem bilgilerimi güncelledim hemde M&Y Yaılım eğitiminde aldığım bilgilerle üstüne koyarak ilerlemeyi hedefliyorum </p>
                </div>
               @Html.Action("partial1", "Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("partial3", "Default")
                        <div class="padding1">
                            <h4>Our Best Places</h4>
                            <div class="box-left">
                                <div class="bot-img">
                                    <img src="/Web/images/pic3.jpg" alt="" />
                                </div>
                                <div class="bot-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="/Web/images/pic7.jpg" alt="" />
                                </div>
                                <div class="bot-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="/Web/images/pic8.jpg" alt="" />
                                </div>
                                <div class="bot-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="box1-left">
                                <div class="bot-img">
                                    <img src="/Web/images/pic9.jpg" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="/Web/images/pic10.jpg" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                                <div class="bot-img">
                                    <img src="/Web/images/pic3.jpg" alt="" />
                                </div>
                                <div class="bot-desc1">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

